[Unit]
Description=uWSGI
After=network-online.target

[Service]
ExecStart=/home/offv/uswgi/bin/uwsgi --emperor /home/offv/available/

RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
User=offv
Restart=always
StartLimitAction=reboot


[Install]
WantedBy=multi-user.target
